.App{
  margin: auto;
  width: 60vw;
  min-width: 400px;
  height: 90vh;
  padding: 30px;
  display: flex;
  align-items: center;
}

.laps{
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

